body {
    background-color: whitesmoke;
    margin: 0;
    height: 100%;
}

.main-container {
    /* border: 1px solid red; */
    /* height: 100px; */
    /* display: flex;
    flex-direction: column; */
    width: 850px;
    margin: 15px auto;
}

main {
    /* border: 2px solid gold; */
    font-family: 'Titillium Web', sans-serif;
    height: 450px;
    background-image: url('NASAbackground.jpg');
    background-position: right;
    background-size: auto;
    color: white;
    text-align: center;
    font-size: 50px;
}

#NASA-title {
    /* margin-top: 150px; */
    padding-top: 150px;
}

section {
    margin: 15px 0 0 0;
    /* border: 2px solid limegreen; */
    height: 324px;
    font-family: 'Silkscreen', cursive;
    display: flex;
    flex-direction: row;
    background-color: lightgray;
    font-size: small;
}

.triplethreat {
    width: 270px;
    /* border: 2px purple solid; */
    margin: 0px 10px;
    flex: 1;
}

.triplethreat > h1 {
    font-size: 25px;
    text-align: center;
}

#social {
    display: flex;
    flex-direction: column;
}

#info {
    display: flex;
    flex-direction: column;
}

#contact {
    display: flex;
    flex-direction: column;
}